html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

::-webkit-scrollbar {
  width: 8px; }
  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #FFF; }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #E5E5E5;
    border: 2px solid #FFF; }

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #2A3341;
  background: #F0F0F0;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif; }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

.sidebar, .app-wrapper {
  position: absolute;
  display: block;
  float: left; }

.sidebar {
  left: 0;
  width: 220px;
  height: 100%;
  background: #2A3341; }

.app-wrapper {
  left: 220px;
  width: calc(100% - 220px);
  height: 100%;
  overflow: auto; }

.overlay {
  -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  -moz-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(42, 51, 65, 0.9); }
  .overlay.show {
    -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    -moz-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    opacity: 1;
    visibility: visible; }

.task {
  position: absolute;
  top: 60px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }
  .task__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .task__item {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6; }

.create-task {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E6E6E6; }

.input-title {
  position: relative;
  height: 60px;
  wdith: 100%; }
.input-writing-canvas {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 60px;
  height: 100%;
  white-space: normal;
  width: 100%;
  padding: 20px;
  border: 0; }
  .input-writing-canvas:focus {
    outline: 0; }

.btn-create-task {
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  position: fixed;
  top: 10px;
  right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  visibility: hidden;
  opacity: 0;
  border: 0;
  padding: 10px 16px;
  display: block;
  color: #cccccc;
  border-radius: 3px;
  background: whitesmoke;
  font-weight: 600; }
  .btn-create-task.clickable {
    -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    visibility: visible;
    opacity: 1;
    color: #FFF;
    background: #1AA489; }
