html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #2A3341;
  background: #F0F0F0;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif; }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

ul,
ol {
  padding: 0;
  margin: 0; }

.btn-focus-mode {
  position: relative;
  z-index: 9999;
  color: #b3b3b3;
  background: #FFF;
  border: 1px solid #E6E6E6;
  border-radius: 4px; }
  .btn-focus-mode.active {
    color: #64B2FF;
    border: 1px solid #64B2FF; }

.command-bar {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  overflow: hidden;
  background: #FFF;
  width: 100%;
  border-bottom: 1px solid #E6E6E6; }
  .command-bar.focus-mode {
    -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    height: 0;
    top: -50px; }

.input-search-docs {
  padding: 4px;
  width: 240px;
  border: 1px solid #E6E6E6;
  border-radius: 999px;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif; }
  .input-search-docs:focus {
    outline: 0; }

.doc-viewer,
.editor {
  float: left; }

.doc-viewer {
  position: fixed;
  left: 0;
  height: 100%;
  width: 260px;
  overflow-y: scroll;
  background: #F2F2F2;
  border-right: 1px solid #E6E6E6; }
  @media screen and (min-width: print) {
    .doc-viewer {
      display: none; } }
  .doc-viewer__list {
    width: 100%; }
  .doc-viewer__item {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
    background: #FFF;
    font-family: "Baskerville", "Georgia", serif; }

.editor {
  position: absolute;
  z-index: 1000;
  height: 100%;
  left: 260px;
  width: calc(100% - 260px);
  background: #FFF;
  overflow-y: scroll; }
  @media screen and (min-width: print) {
    .editor {
      display: block; } }
  .editor__textarea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 24px;
    left: 0;
    padding: 40px;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 30px;
    font-size: 1.25em; }
  .editor__count {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 24px;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #E6E6E6; }
    .editor__count__item {
      color: #b3b3b3;
      padding: 0 10px;
      font-size: 0.625em;
      line-height: 24px;
      display: inline-block; }
  .editor.focus-mode {
    -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    left: 0;
    width: 100%; }
  .editor p,
  .editor h1,
  .editor h2,
  .editor h3,
  .editor h4,
  .editor h5,
  .editor h6,
  .editor input,
  .editor textarea {
    font-family: "Baskerville", "Georgia", serif; }
  .editor p {
    line-height: 1.6;
    font-size: 1.25em; }

.overlay {
  -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  -moz-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(42, 51, 65, 0.9); }
  .overlay.show {
    -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    -moz-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms, visibility cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    opacity: 1;
    visibility: visible; }

.task {
  position: absolute;
  top: 60px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }
  .task__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .task__item {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6; }

.create-task {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E6E6E6; }

.input-title {
  position: relative;
  height: 60px;
  wdith: 100%; }
.input-writing-canvas {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 60px;
  height: 100%;
  white-space: normal;
  width: 100%;
  padding: 20px;
  border: 0; }
  .input-writing-canvas:focus {
    outline: 0; }

.btn-create-task {
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  position: fixed;
  top: 10px;
  right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  visibility: hidden;
  opacity: 0;
  border: 0;
  padding: 10px 16px;
  display: block;
  color: #cccccc;
  border-radius: 3px;
  background: whitesmoke;
  font-weight: 600; }
  .btn-create-task.clickable {
    -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    visibility: visible;
    opacity: 1;
    color: #FFF;
    background: #1AA489; }

/*# sourceMappingURL=application.css.map */
