// Import Bourbon & Neat
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon"
@import "bower_components/neat/app/assets/stylesheets/_neat"

// Colors
$white: #FFF
$elephant-grey: #2A3341
$border-grey: #E6E6E6
$background-grey: #F0F0F0

// Font Vars
$font-family-sans: 'Avenir', 'Helvetica', 'Arial', sans-serif
$font-family-serif: 'Baskerville', 'Georgia', serif

// Font Sizes
$font-size-20: em(20px)

// Height Vars
$height-input-task: 60px

// Z Index
$z-index-alpha: 9999

html, 
body
	margin: 0
	padding: 0
	overflow: hidden
	color: $elephant-grey 
	background: $background-grey
	font: 
		family: $font-family-sans

body
	position: absolute
	width: 100%
	height: 100%

ul,
ol
	padding: 0
	margin: 0

.btn-focus-mode
	position: relative
	z-index: 9999
	color: darken($white, 30%)
	background: $white
	border: 1px solid $border-grey
	border-radius: 4px

	&.active
		color: #64B2FF
		border: 1px solid #64B2FF

.command-bar
	@include position(0 null null 0)
	height: 50px
	padding: 10px
	overflow: hidden
	background: $white
	width: 100%
	border-bottom: 1px solid $border-grey

	&.focus-mode
		@include transition(all $ease-out-cubic 300ms)
		height: 0
		top: -50px

.input-search-docs
	padding: 4px
	width: 240px
	border: 1px solid $border-grey
	border-radius: 999px
	font:
		family: $font-family-sans

	&:focus
		outline: 0

.doc-viewer, 
.editor
	float: left

.doc-viewer
	position: fixed
	left: 0
	height: 100%
	width: 260px
	overflow-y: scroll
	background: #F2F2F2
	border-right: 1px solid $border-grey
	@include media(print)
		display: none

	&__list
		width: 100%

	&__item
		padding: 10px
		overflow: hidden
		border-bottom: 1px solid $border-grey
		background: $white
		font:
			family: $font-family-serif

.editor
	position: absolute
	z-index: 1000
	height: 100%
	left: 260px
	width: calc(100% - 260px)
	background: $white
	overflow-y: scroll
	@include media(print)
		display: block

	&__textarea
		@include position(absolute, 0 0 24px 0)
		padding: 40px
		margin: 0
		border: 0
		outline: 0
		line-height: 30px
		font-size: $font-size-20

	&__count
		@include position(absolute, null null 50px 0)
		height: 24px
		overflow: hidden
		width: 100%
		border-top: 1px solid $border-grey

		&__item
			color: darken($white, 30%)
			padding: 0 10px
			font-size: em(10px)
			line-height: 24px
			display: inline-block

	&.focus-mode
		@include transition(all $ease-out-cubic 300ms)
		left: 0
		width: 100%

	p,
	h1,
	h2, 
	h3,
	h4, 
	h5, 
	h6,
	input,
	textarea,
		font-family: $font-family-serif

	p 
		line-height: 1.6
		font-size: $font-size-20

.overlay
	@include transition(opacity $ease-out-cubic 300ms, visibility $ease-out-cubic 300ms)
	@include position(fixed, 0 0 0 0)
	z-index: $z-index-alpha - 1
	opacity: 0
	visibility: hidden
	width: 100%
	height: 100%
	background: rgba($elephant-grey, 0.9)

	&.show
		@include transition(opacity $ease-out-cubic 300ms, visibility $ease-out-cubic 300ms)
		opacity: 1
		visibility: visible

.task
	@include position(absolute, $height-input-task null null null)
	width: 100%
	overflow-x: hidden
	overflow-y: scroll

	&__list
		margin: 0
		padding: 0
		list-style-type: none

	&__item
		width: 100%
		padding: 10px
		overflow: hidden
		background: $white
		border-bottom: 1px solid $border-grey

.create-task
	@include position(absolute, 0 null null 0)
	z-index: $z-index-alpha 
	width: 100%
	height: 100%
	border-bottom: 1px solid $border-grey

.input
	&-title
		position: relative
		height: 60px
		wdith: 100%

	&-writing-canvas
		@include appearance(none)
		@include position(60px null null null)
		height: 100%
		white-space: normal
		width: 100%
		padding: 20px
		border: 0

		&:focus
			outline: 0

.btn-create-task
	@include transition(all $ease-out-cubic 400ms)
	@include position(fixed, 10px 10px null null)
	@include appearance(none)
	visibility: hidden
	opacity: 0
	border: 0
	padding: 10px 16px
	display: block
	color: darken($white, 20%)
	border-radius: 3px
	background: darken($white, 4%)
	font:
		weight: 600

	&.clickable
		@include transition(all $ease-out-cubic 400ms)
		visibility: visible
		opacity: 1
		color: $white
		background: #1AA489